:root{
    font-size: 16px;
}

@font-face {
    font-family: logo-font;
    src: url(./Fonts/Norse-Bold.otf);
}

body{
    background-color:darkgray;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.image{
    flex: 1 1 auto;
    position: relative;
    width: 40%;
}

.image .bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: auto;
    font-size: 50px;
}

.image .logo:hover{
    opacity: 0.2;

}

.image .text{
    opacity: 0.6;
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    background: black;
    font-family: 'logo-font','Times New Roman', Times, serif;
    color: white;
    width: 100%;
}

.image .text div{
    font-size: 7rem;
}

.image .text .logo{
    height: 7rem;
    width: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; 
    background-color: red;
    flex: 1 1 auto;
}

.info{
    height: 30vh;
    width: 100%;
    background-color:mintcream;
    font-size: 25px;
    padding-top: 4rem;
    padding-left: 6rem;
    box-sizing: border-box;
}
.info p{
    width: 70%;
}
.form{
    height: 50vh;
    width: 100%;
    background-color: aqua;
}